{% extends "base.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'css/exams.css' %}" rel="stylesheet">
    <link href="{% static 'css/manage_order.css' %}" rel="stylesheet">
{% endblock head %}


{% block body %}
    <br> 
    <br>
    <div class="container">
        {% if messages %}
            <br>
            {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md">
                <form action="{% url 'ManageLab:manage_clients' %}" method="GET">
                    {% csrf_token %}

                    <label for="">Nome</label>
                    <input type="text" class="form-control" name="name" value="{{ fullname }}">
            </div>
            <div class="col-md">
                    <label for="">E-mail</label>
                    <input type="text" class="form-control" name="email" value="{{ email }}">
            </div>
            <div class="col-md">
                    <br>
                    <input type="submit" class="btn-default">
                </form>

            </div>
        </div>
        <br>
        <div class="card card-view">
            <table>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>CPF</th>
                </tr>

                {% for client in clients %}
                    <tr class="linha-tabela">
                        <td><a href="{% url 'ManageLab:client' client.id %}">{{client.get_full_name}}</a></td>
                        <td>{{client.email}}</td>
                        
                        <td>
                        
                        </td>
                    </tr>
                {% endfor %}
            
            </table>
            
            
        </div>

    </div>

{% endblock body %}