/* ========= Definição de variáveis do css ========= */
:root {
    --main-color: rgb(21, 28, 52);
    --dark-color: rgb(12, 18, 28) ;
    --light-color: rgb(109, 230, 238);
    --contrast-color: rgb(244, 201, 107);
    --differential-color: rgb(6, 102, 104);
    --input-background: rgb(255, 255, 255, 0.05);
    --footer-background: rgba(217, 217, 217, .14);
    --footer-text: rgba(255, 255, 255, 0.61);
}

/* ========== Estilização Inicial ========== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html {
    font-size: 62.5%;
}

body {
    padding-top: 6rem; 
}

main .corpo {
    position: relative;
}

/* .container {
    max-width: 192rem;
    padding: 0 2rem;
    margin: 2rem;
} */

.container-fluid {
    max-width: 192rem;
    margin: 0 auto;
}

nav {
    background-color: var(--dark-color);
    font-size: 1.6rem;
    display: inline-block;
    position: absolute;
}

.dropdown-menu {
    background: var(--differential-color);
    font-size: 1.4rem;
}

nav ul li {
    color: white;
}

#ConteudoNavbar ul li a {
    margin: 0.5rem;
    padding: 0.5rem;
    color: white;
    transition: 0.15s ease-in-out;
}

#ConteudoNavbar ul li a:hover {
    background-color: var(--differential-color);
}

.icon-user {
    font-size: 2rem;
    padding: 0.5rem;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
}

footer {
    /* padding: 2rem; */
    width: 100%;
    background-color: var(--footer-background);
    color: var(--footer-text) !important;
    display: flex;
    float: bottom;
}

footer .container {
    width: 100%;
}


footer .caixa {
    margin: 0.5rem 0;
    padding: 0rem 0;
    display: flex;
}

footer .text-footer {
    /* margin: auto; */
    padding: 5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
}

.form-control {
    font-size: 1.4rem;
    font-weight: 600;
}

/* Classes body */
.font-destaque {
    color: var(--light-color);
    font-size: 4rem;
}

.input-default {
    background-color: var(--input-background);
    border: 1px solid var(--differential-color);
    padding: 0.7rem;
    width: 50%;
}

.w100 {
    width: 100%;
}

.btn-default {
    background-color: var(--light-color);
    color: black;
    font-weight: 800;
    font-size: 1.5rem;
    width: 15%;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    transition: 2ms ease-in-out;
}

.btn-default:hover{
    border: 0.2rem solid white
}

.font-destaque-secundaria {
    color: var(--light-color);
    font-size: 3.5rem;
}

