body {
    background-image: url('/static/img/bg1.png');
    background-size: cover !important;
}

p {
    color: var(--light-color);
}

.logo {
    max-width: 14rem;
}

.name-lab {
    font-size: 3rem;
    font-weight: 800;
}

.input-login {
    width: 25%;
}

.senha-vis {
    /* background-color: transparent; */
    color: var(--light-color);
    border: none;
}

.senha-vis span {
    padding-left: 0.5rem;
}

.senha-vis #show-paswword-checkbox:checked + span {
    font-size: 1000;
    color: red;
}


