.linha-tabela {
    background-color: var(--dark-color);
    height: 2rem;
}

td, th {
    padding: 2rem;
}

.card-view {
    text-align: center;
    padding: 0;
    border: none;
    height: 70vh;
}

a.btn.btn-danger {
    font-weight: 800;
    height: 2.7rem;
}

.status-agendado, .status-cancelado{
    padding: 0.7rem;
    font-weight: 800;
    border-radius: 0.5rem;
}

.status-agendado {
    background-color: rgba(0, 249, 87, 0.5);
}

.status-cancelado {
    background-color: rgba(255, 0, 0, 0.5);
}

.icons-status {
    width: 2.5rem;
    padding: 0.5rem;
}