.sub-card {
    background-color: var(--dark-color);
    padding: 2rem;
}

.btn, .badge {
    font-weight: bold;
    font-size: 1.2rem;
}

.badge {
    padding: 0.7rem;
}

.exam {
    font-size: 3.5rem;
    font-weight: bold;
}


.btn-open {
    background-color: var(--light-color);
    color: black;
    font-weight: 800;
    font-size: 1.5rem;
    padding: 0.5rem 5rem;
    border: none;
    border-radius: 1rem;
    transition: 2ms ease-in-out;
}

.btn-open:hover{
    border: 0.2rem solid white
}
