{% extends "base.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'css/exams.css' %}" rel="stylesheet">
    <link href="{% static 'css/manage_order.css' %}" rel="stylesheet">
{% endblock head %}


{% block body %}
    <br>
    <br>
    <div class="container">
        {% if messages %}
            <br>
            {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-5">
                <h3>Gerar acesso médico</h3>

                <form action="{% url 'HealthChecks:create_medical_access' %}" method="POST">
                    {% csrf_token %}

                    <label for="">Identificação</label>
                    <br>
                    <input style="width: 100%" type="text" name="identification" id="" class="input-default">
                    <br>
                    <br>
                    <label for="">Tempo de acesso (em horas)</label>
                    <br>
                    <input style="width: 100%" type="number" name="access_time" id="" class="input-default">
                    <br>
                    <br>
                    <div class="row">
                        <label for="">Acesso a exames realizados entre:</label>
                        <div class="col-md">
                            <input style="width: 100%" type="date" name="date_start_exam" id="" class="input-default">
                        </div>
                        <div class="col-md">
                            <input style="width: 100%" type="date" name="date_end_exam" id="" class="input-default">
                            <br>
                            <br>
                        </div>

                        
                    </div>
                    <input style="width: 40%" type="submit" class="btn-default" value="Gerar link">
                </form>
            </div>
            <div class="col-md">
                
                <div class="card">
                    <table style="text-align: center">
                        <tr>
                            <th>Id</th>
                            <th>Status</th>
                            <th>Link</th>
                            
                        </tr>
        
                        {% for access in medicals_access %}
                            <tr class="linha-tabela">
                                <td>{{ access.identifications }}</td>
                                <td>{{ access.status }}</td>
                                <td><a href="{{ access.url }}">{{ access.url }}</a></td>
                            </tr>
                        {% endfor %}
                            
                            
                    
                            
                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock body %}