{% extends "base.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'css/exams.css' %}" rel="stylesheet">
    <link href="{% static 'css/manage_order.css' %}" rel="stylesheet">
{% endblock head %}


{% block body %}
    <br> 
    <br>
    <div class="container">
        {% if messages %}
            <br>
            {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="card card-view">
            <table>
                <tr>
                    <th>Solicitação</th>
                    <th>Data</th>
                    <th>Exames</th>
                    <th>Ação</th>
                </tr>

                {% for orders in order_exams %}
                    <tr class="linha-tabela">
                        <td>{{ orders.id}}</td>
                        <td>{{ orders.date}}</td>
                        <td>
                            <select class="form-select">
                                {% for exam in orders.exams.all %}
                                    <option style="color: black"  value="">{{ exam.exam.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <a href=""  class="btn btn-danger {% if not exame.scheduled %} disabled {% endif %}">Cancelar</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock body %}