{% extends "base.html" %}
{% load static %}

{% block head %}

    <link href="{% static 'css/cadastro.css' %}" rel="stylesheet">

{% endblock head %}


{% block body %}
    <div class="container">

        <h3 class="font-destaque-secundaria"> <img width="10%" src="{% static 'icons/logo.png' %}" alt="">Faça seu Login</h3>

        {% if messages %}
            <br>
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}


        <div>
            <form action="{% url 'Users:login' %}" method="POST">
                {% csrf_token %}

                <label>Username</label>
                <br>
                <input type="text" class="input-login input-default" name="username">
                <br>
                <br>
                <label>Senha</label>
                <br>
                <input type="password" class="input-field input-login input-default" name="password">
                <button type="button" class="senha-vis" id="show-password-checkbox">
                    <i class="fa-solid fa-eye fa-sm" id="show-password-icon"></i>
                </button>
                <br>
                <br>
                <input type="submit" class="btn-default" value="Logar">
            </form>
        </div>
    </div>

    {% block script %}
        <script src="{% static 'js/senhaVis.js' %}"></script>
    {% endblock script %}
{% endblock body %}